/* Setup */
@import 'setup/var.css';
@import 'setup/typography.css';

/* Base */
@import 'basic/helper.css';
@import 'basic/base.css';
@import 'basic/layout.css';

/* Components */
@import 'components/main-header.css';
@import 'components/main-gallery.css';
@import 'components/storage-gallery.css';
@import 'components/buttons.css';
@import 'components/main-editor.css';
@import 'components/main-footer.css';

/* Media Queries */
@import 'mq/mq.css';
