/* MOBILE ONLY*/
@media screen and (max-width: 930px) {
  .main-header .header-links .nav-bar {
    display: flex;

    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 150px; /* FIX */
    transition: right 0.5s;
    background-color: var(--bg-clr-800);
    padding: 2em 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    z-index: 1;
  }

  body.menu-open .main-header .nav-bar {
    right: 0;
  }

  body.menu-open .main-header .nav-bar > * {
    display: flex;
    align-items: center;
  }
}

/* SMALL */
@media screen and (min-width: 470px) {
  /* MAIN LAYOUT */
  .main-layout {
    width: 90%;
    max-width: 600px;
  }

  /* MAIN HEADER */
  .main-header {
    font-size: 1.3125em;
  }
  
  .main-header .logo {
    height: 2em;
  }

  /* EDITOR */

  .editor-config .font-style {
    grid-template-columns: repeat(5, 3em);
    justify-items: unset;
  }

  .icon-btn {
    height: 3em;
  }
}

/* LARGE */
@media screen and (min-width: 930px) {
  .btn-toggle-menu {
    display: none;
  }

  /* MAIN LAYOUT */
  .main-layout {
    width: 90%;
    max-width: 1260px;
  }

  /* GALLERY MAIN HEADER */
  .main-gallery .gallery-header {
    flex-wrap: nowrap;
  }

  .main-gallery .gallery-header .gallery-search {
    flex-grow: 1;
    min-width: unset;
  }

  /* GALLERY IMAGES */
  .main-gallery .image-gallery {
    grid-template-columns: repeat(auto-fill, 210px);
    gap: 20px;
  }

  .main-gallery .image-gallery img {
    max-width: 210px;
  }

  /* EDITOR */
  .main-editor {
    flex-direction: row;
  }

  .editor-config .font-style .font-family-input {
    font-size: 90%;
  }
}
