/* TYPE COLOR INPUTS*/
.invisible-btn {
  position: relative;
}

.invisible-btn input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* BUTTONS WITH IMG */
.icon-btn {
  height: 2em;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.icon-btn img {
  height: 60%;
}

.icon-btn.switch{
  background-color: #30a9c8;
  box-shadow: inset 0 4px #4bbdd5, inset 0 -4px #048b97;
}

.icon-btn.add{
  background-color: #3ac34f;
  box-shadow: inset 0 4px #5fd073, inset 0 -4px #015d33;
}

.icon-btn.trash{
  background-color: #e33c36;
  box-shadow: inset 0 4px #ea5a51, inset 0 -4px #8c0606;
}

.editor-config .font-style .icon-btn {
  background-color: var(--bg-clr-100);
  box-shadow: inset 0 -4px var(--blue-clr-700);
}