.main-editor {
  display: flex;
  gap: 2em;
}

/* CANVAS */

#canvas {
  aspect-ratio: 1/1;
  border-radius: 10px;
}

.canvas-container {
  flex-basis: 50%;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  border-radius: 15px;
}

/* CONFIGURATION */

.editor-config {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 1em;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1em;

  border: 1px solid red;
  border-radius: 15px;
}

.text-selection {
  display: flex;
  gap: 1em;
}

.editor-config .font-style {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 1em;
}

.editor-config .font-style .font-family-input {
  grid-column: 1 / span 3;
  border: 1px solid red;
  cursor: pointer;
}

.editor-config .stickers {
  display: flex;
}

.editor-config .save-meme ul {
  display: flex;
}

.editor-config .save-meme a {
  margin-inline-end: 1em;
}
